// Fuentes
$fuente_principal: "Outfit", sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores
$azulFuerte: #007df4;
$azulClaro: #6bb6fc;

$rosa1: #FF9494;
$rosa2: #FFD1D1;
$rosa3: #FFE3E1;
$rosa4: #FDF4F5;
$rosa5: #FFB6B6;

$negro: black;
$blanco: #FFFFFF;
$gris: #adadad;
$grisClaro: #f3f3f3;
$rojo: #DF6A6A;
$verde: #75A47F;
$morado: #AF7AB3;
$amarillo: #F6F193;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

$separacion: 5rem;